.root {
  align-self: center;
  font-weight: 900;
  color: var(--text-color);
  text-shadow: var(--shadow-m);
  cursor: default;
}

.root:before {
  margin-right: var(--gap-s);
  content: '🏡';
}

.root._inverted {
  color: var(--text-color-inverted);
}
